name: CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Fetch source code
      uses: actions/checkout@v2

    - name: Use Nix
      uses: cachix/install-nix-action@v16
      with:
        nix_path: nixpkgs=channel:nixos-21.11

    # - name: Configure Nix substituters
    #   run: |
    #     set -xe
    #     mkdir -p ~/.config/nix/
    #     cp ./.github/nix.conf ~/.config/nix/

    - uses: cachix/cachix-action@v10
      with:
        name: holochain-ci

    - name: Run all tests
      run: nix-shell --pure --run "./run-test.sh"
